<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
    <connectionStrings>
        <add name="dbtestConnectionString" connectionString="Data Source=ASUS-PC;Initial Catalog=dbtest;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="bds289496282_dbConnectionString" connectionString="Data Source=bds289496282.my3w.com;Initial Catalog=bds289496282_db;User ID=bds289496282;Password=AsDf0724"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0"  />
      <customErrors mode="Off"/>
    </system.web>

</configuration>
